<a href="https://colab.research.google.com/github/rohit1381999/Capstone/blob/main/Machine_learning2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.metrics import confusion_matrix,classification_report

In [2]:
# 0 positive 1 negative

y_true=[1,0,0,1,1,1,0,0,0,0,0,1,0,1]
y_pred=[0,0,1,1,0,1,0,0,0,0,1,0,1,0]
print(len(y_true),len(y_pred))

14 14

In [3]:
cm=confusion_matrix(y_true,y_pred)
print(cm)

print(classification_report(y_true,y_pred))

prec0=5/(5+4)
prec1=2/(2+3)
print('prec0',prec0,'prec1',prec1)

[[5 3]
 [4 2]]
              precision    recall  f1-score   support

           0       0.56      0.62      0.59         8
           1       0.40      0.33      0.36         6

    accuracy                           0.50        14
   macro avg       0.48      0.48      0.48        14
weighted avg       0.49      0.50      0.49        14

prec0 0.5555555555555556 prec1 0.4

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data={'Emp_id':[125,120,262,210,165,121,110,119,155],
      'Name':['rohit','aman','vikas','simran','snow','abhimanyu','arjun','sehdev','nakul'],
          'age':[22,21,26,24,26,23,np.nan,28,30],
      'Dept':['IT',np.nan,'FIN','INV','LOG','IT','FIN','HR','LOG'],
              'Gender':['M','M','M','F','F',np.nan,'M','M','M']}
df=pd.DataFrame(data)
print(df)

   Emp_id       Name   age Dept Gender
0     125      rohit  22.0   IT      M
1     120       aman  21.0  NaN      M
2     262      vikas  26.0  FIN      M
3     210     simran  24.0  INV      F
4     165       snow  26.0  LOG      F
5     121  abhimanyu  23.0   IT    NaN
6     110      arjun   NaN  FIN      M
7     119     sehdev  28.0   HR      M
8     155      nakul  30.0  LOG      M

In [6]:
df1=df.copy()
df2=df.copy()

In [7]:
df.isnull().sum()

Emp_id    0
Name      0
age       1
Dept      1
Gender    1
dtype: int64

In [8]:
df['age'].fillna(df['age'].mean(),inplace=True)
df.isnull().sum()

Emp_id    0
Name      0
age       0
Dept      1
Gender    1
dtype: int64

In [9]:
df['Dept'].value_counts()
df['Dept'].fillna('IT',inplace=True)
df.isnull().sum()

Emp_id    0
Name      0
age       0
Dept      0
Gender    1
dtype: int64

In [17]:
df['Gender'].fillna('M',inplace=True)
df.isnull().sum()

Emp_id    0
Name      0
age       0
Dept      0
Gender    0
dtype: int64

In [18]:
# df.drop('Emp_id',axis=1,inplace=True)
df.head()

   Emp_id    Name   age Dept Gender
0     125   rohit  22.0   IT      M
1     120    aman  21.0   IT      M
2     262   vikas  26.0  FIN      M
3     210  simran  24.0  INV      F
4     165    snow  26.0  LOG      F

In [3]:
from sklearn.impute import SimpleImputer

coo=SimpleImputer(missing_values=np.nan,strategy='mean')
pr=coo.fit_transform(df1[['age']])
pr

NameError: ignored

In [13]:
from pandas._libs import missing


from sklearn.impute import SimpleImputer


#fill null values in categorical columns by using simpleimputer
sim_cat=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
sim=sim_cat.fit_transform(df1[['Gender']])
sim
data2={'Age':pr,'Gender':sim}

In [8]:
df1.duplicated().sum()
df12=[{'Emp_id':125,'Name':'rohit','age':22,'Dept':'IT','Gender':'M'}]
df1.update(df12)

NameError: ignored

In [10]:
import pandas as pd
import numpy as np

df=pd.read_csv("/50_Startups.csv")
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [14]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df2=df.copy()

In [13]:
df2['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [17]:
df2['State_labelencoder']=lb.fit_transform(df2['State'])
df2['State_labelencoder'].value_counts()

2    17
0    17
1    16
Name: State_labelencoder, dtype: int64

In [30]:
from sklearn.preprocessing import OneHotEncoder
ohc=OneHotEncoder()

In [34]:
df4

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [33]:
res=ohc.fit_transform(df4[['State']]).toarray()
res

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [43]:
states=pd.DataFrame(res,columns=['California','Florida','New York'])
states

    California  Florida  New York
0          0.0      0.0       1.0
1          1.0      0.0       0.0
2          0.0      1.0       0.0
3          0.0      0.0       1.0
4          0.0      1.0       0.0
5          0.0      0.0       1.0
6          1.0      0.0       0.0
7          0.0      1.0       0.0
8          0.0      0.0       1.0
9          1.0      0.0       0.0
10         0.0      1.0       0.0
11         1.0      0.0       0.0
12         0.0      1.0       0.0
13         1.0      0.0       0.0
14         0.0      1.0       0.0
15         0.0      0.0       1.0
16         1.0      0.0       0.0
17         0.0      0.0       1.0
18         0.0      1.0       0.0
19         0.0      0.0       1.0
20         1.0      0.0       0.0
21         0.0      0.0       1.0
22         0.0      1.0       0.0
23         0.0      1.0       0.0
24         0.0      0.0       1.0
25         1.0      0.0       0.0
26         0.0      1.0       0.0
27         0.0      0.0       1.0
28         0.0      1.0       0.0
29         0.0      0.0       1.0
30         0.0      1.0       0.0
31         0.0      0.0       1.0
32         1.0      0.0       0.0
33         0.0      1.0       0.0
34         1.0      0.0       0.0
35         0.0      0.0       1.0
36         0.0      1.0       0.0
37         1.0      0.0       0.0
38         0.0      0.0       1.0
39         1.0      0.0       0.0
40         1.0      0.0       0.0
41         0.0      1.0       0.0
42         1.0      0.0       0.0
43         0.0      0.0       1.0
44         1.0      0.0       0.0
45         0.0      0.0       1.0
46         0.0      1.0       0.0
47         1.0      0.0       0.0
48         0.0      0.0       1.0
49         1.0      0.0       0.0

In [45]:
df_ohc=pd.concat([df4,states],axis=1)
df_ohc.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0.0,0.0,1.0
1,162597.70,151377.59,443898.53,California,191792.06,1.0,0.0,0.0
2,153441.51,101145.55,407934.54,Florida,191050.39,0.0,1.0,0.0
3,144372.41,118671.85,383199.62,New York,182901.99,0.0,0.0,1.0
4,142107.34,91391.77,366168.42,Florida,166187.94,0.0,1.0,0.0